<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title></title>

  <!-- Initialization of object for usage with the Map object -->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=yes' />

  <!-- Initialization of the online scripts to be used in project -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
  <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js'></script>
  <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>

  <!-- Initialization of the stylesheets to be used in project -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <!-- Uses the spotsApp from app.js etc to find listings -->
  <div ng-app="spotsApp">

    <!-- Uses the SpotsController from spotController.js to find listings -->
    <div ng-controller="SpotsController">



      <!--Menu sidebar -->
      <div id="myMenu" class="sidebar" style="width: 0px;">

        <!-- Search bar -->
        <input type="search" id="mySearch" name="q" size="31" placeholder="Search" ng-model="spotQuery">
        <button class= "fas fa-times" id="clearButton" onclick="clearSearchBox()"></button>

        <!-- Table for the building listings -->
        <table class="table table-hover">
          <col width="30">
          <col width="200">
          <col width="60">
          <!-- Headers for the tables -->
          <th>   </th>
          <th ng-click="sort_by('bldgCode')">Bld</th>
          <th ng-click="sort_by('bldgName')">Name</th>

          <!-- Creates the table of listings from $scope.spots -->
          <!-- Allows elements from ng-repeat to be sorted by sortingOrder paramter -->
          <!-- Runs showDetails method when any spot is clicked -->

          <tr id="listingRows" ng-repeat-start="spot in spots | orderBy:sortingOrder:reverse
            | filter: spotQuery as x" ng-click="showDetails(spots.indexOf(spot))" >

            <!-- Displays the corresponding image from the spot iteration of $scope.spots -->
            <th>
              <a href="">
                <i ng-hide="active==spot.bldgCode" class="fa fa-caret-right"></i>
                <i ng-show="active==spot.bldgCode" class="fa fa-caret-down"></i>
              </a>
            </th>
            <td> {{ spot.bldgCode }} </td>
            <td> {{ spot.bldgName }} </td>

            <!-- <td> {{ spot.bldgFormalName }} </td> -->


            <!-- show rooms when triangle points down -->
            <tr ng-repeat="room in spot.spots" ng-show="active==spot.bldgCode">
              <td></td>
              <td><div style="height:25px;"></div>{{room.location}}</td>
              <td>
                <button class="upvoteButton" ng-click="upvote(room.bldgCode, room)">
                  <i class="fa fa-caret-up fa-2x"></i></button>
                <div class="upvote-num">{{ room.upvotes }}</div>
                <button class="upvoteButton" ng-click="downvote(room.bldgCode, room)">
                  <i class="fa fa-caret-down fa-2x"></i></button>
              </td>
            </tr>
            <!-- Show no rooms if rooms are empty -->
            <tr ng-show="spot.spots.length == 0 && active==spot.bldgCode">
              <td> </td>
              <td colspan="4">No rooms</td>
            </tr>

            <!-- End of top page row div -->
            <tr ng-repeat-end ng-show="active==spot.bldgCode">
              <div class="form-popup" id="addForm" >
                <form novalidate>
                  <td></td>
                  <td><input type="room-text" ng-model="bldg.roomName" placeholder="Room Name"></td>
                  <td><button id="addbutton" ng-click="add(spotDetails.bldgCode, bldg.roomName)" onclick="location.reload()">Add</button></td>
                </form>
              </div>
            </tr>

            <!-- if query doesnt find anything -->
            <tr ng-if="x.length ===0">
              <td> </td>
              <td> </td>
              <td>No results found.</td>
            </tr>

          </tr>
        </table>

          <!-- End of top page row div -->
        </div>

      <!-- End spotcsontroller -->
      </div>


      <div ng-controller="AuthenticationController">
        <!-- navigation bar -->
        <div class="row2" id="menu_toggle">
          <button class="openbtn" onclick="toggleMenu()">☰ Menu</button>
          <button class="rightbtn" ng-click="current()">Test</button>
          <button id="signup" class="rightbtn"
            onclick="document.getElementById('signup-id').style.display='block'">Sign Up</button>
          <button id="login" class="rightbtn"
            onclick="document.getElementById('login-id').style.display='block'">Log In</button>

          <!-- End of top page second row div -->
        </div>

      <!-- End of SpotsController div -->

        <!-- LOGIN FORM -->
        <div id="login-id" class="modal">
          <form class="modal-content animate" action="/user/login" method="post" novalidate>
            <div class="imgcontainer">
              <span onclick="document.getElementById('login-id').style.display='none'" class="close" title="Close Modal">&times;</span>
              <img src="images/logo4.jpg" alt="Avatar" class="avatar">
            </div>

            <div class="container">
              <b>Email:</b><div></div>
              <input type="text" ng-model="email" placeholder="Enter Email" required>
              <div>
              <b>Password:</b><div></div>
              <input type="password" ng-model="password" placeholder="Enter Password" required>
              </div>

              <div></div>
              <button type="submit" ng-click="login(email, password)">Login</button>

            </div>

          </form>
        </div>
        <!-- END LOGIN FORM -->

        <!-- SIGN UP FORM -->
        <div id="signup-id" class="modal">
          <form class="modal-content animate" action="/user/register" method="post">
            <div class="imgcontainer">
              <span onclick="document.getElementById('signup-id').style.display='none'" class="close" title="Close Modal">&times;</span>
              <img src="images/logo4.jpg" alt="Avatar" class="avatar">
            </div>

            <div class="container">
              <h1>Sign Up</h1>
              <p>Please fill in this form to create an account.</p>
              <b>Email:</b><div></div>
              <input type="text" placeholder="Enter Email" name="email" required>
              <div>
              <b>Password:</b><div></div>
              <input type="password" placeholder="Enter Password" name="password" required>
              </div>
              <b>Repeat Password:</b><div></div>
              <input type="password" placeholder="Repeat Password" name="password-repeat" required>
              <div></div>


              <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

              <div class="clearfix">
                <button type="submit" ng-click="register(email, password)">Login</button>
              </div>
            </div>
          </form>

          <!-- END SIGNUP FORM -->
        </div>

      <!-- Authent end -->
      </div>

    <!-- END Spots -->
    </div>



  <!-- End of and ng-app div -->
  </div>



  <!-- creates id in the <p> for the mapbox to load -->
  <p id='map'></p>

  <!-- Initialization of local .js files for use in the project-->
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="Controllers/authentController.js"></script>
  <script type="text/javascript" src="Factories/spotFactory.js"></script>
  <script type="text/javascript" src="Controllers/spotController.js"></script>
  <script type="text/javascript" src="index_functions.js"></script>

  <!-- End of body tag -->
  </body>

<!-- End of html tag -->
</html>
