body {
    background-color: #FDFAF3;
    margin: 0;
    padding: 0;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 116px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-left: 5px;
    z-index: -1;
  }
  h1 {
    font-family: arial, sans-serif;
    font-size:20px;
    font-weight:normal;
    padding-top: 15px

  }
  #map {
    position: absolute;

    top: 104px;
    bottom: 40px;
    height: 83%;
    width: 99%;
    left: 0px;
    transition: 0.5s;
    padding-left: 8px;
    z-index: -1;
  }
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #3F48CC;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  .openbtn:hover {
    background-color: #3F48b0;
  }

  #formbutton{
    font-size: 13px;
    cursor: pointer;
    background-color: #3F48CC;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 0 auto;
  }
  #formbutton:hover {
    background-color: #3F48b0;
  }

  #addbutton{
    font-size: 13px;
    cursor: pointer;
    background-color: #3F48CC;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 0 auto;
  }
  #addbutton:hover {
    background-color: #3F48b0;
  }
  .sign-form{
    float:right;
    background-color: white;
    padding: 10px 10px;
    }

  #loginForm{
    display: none;
  }

  #signupForm{
    display: none;
  }

  .rightbtn{
  font-size: 14px;
  cursor: pointer;
  background-color: #3F48CC;
  color: white;
  padding: 14px 15px;
  border: none;
  float: right;
  margin:0 1% 0 0;
}
.rightbtn:hover {
  background-color: #3F48b0;
}

  .mapboxgl-popup-content{
    text-align: center
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .row2{
    background-color: #BC581A;
    padding-left: 8px;
  }
  input[type=search] {
      /*make search bar pretty*/
      font: 17px arial, sans-serif;
      opacity: 0.75;
      width: 66%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
  }
  input[type=text]:focus {
      border: 3px solid #555;
  }
  .mapboxgl-popup {
      max-width: 400px;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  /* The popup form - hidden by default */
.form-popup {
  display: none;
  position: center;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.upvoteButton{
font-size: 10px;
cursor: pointer;
background-color: none;
color: white;
padding: 5px 5px;
border: none;

}
.upvoteButton:hover {
background-color: #DDDDD5;
}
