body {
    background-color: #FDFAF3;
    margin: 0;
    padding: 0;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 7%;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-left: 5px;
    height: 90%;
    z-index: -1;
  }
  h1 {
    font-family: arial, sans-serif;
    font-size:20px;
    font-weight:normal;
    padding-top: 15px

  }
  .table td, th{
    border-color: #3F48CC !important;
  }
  #map {
    position: absolute;

    top: 5%;
    bottom: 40px;
    height: 92%;
    width: 99%;
    left: 0px;
    transition: 0.5s;
    padding-left: 8px;
    z-index: -1;
  }
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #3F48CC;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  .openbtn:hover {
    background-color: #3F48b0;
  }

  .btn-container{
    text-align: center
  }
  #formbutton{
    font-size: 13px;
    cursor: pointer;
    background-color: #3F48CC;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 0 auto;
  }
  #formbutton:hover {
    background-color: #3F48b0;
  }

  #addbutton{
    font-size: 13px;
    cursor: pointer;
    background-color: #3F48CC;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 0 auto;
  }
  #addbutton:hover {
    background-color: #3F48b0;
  }
  .sign-form{
    float:right;
    background-color: white;
    padding: 10px 10px;
    }

  #loginForm{
    display: none;
  }

  #signupForm{
    display: none;
  }

  .rightbtn{
  font-size: 14px;
  cursor: pointer;
  background-color: #BC581A;
  color: white;
  padding: 14px 15px;
  border: none;
  float: right;
  margin:0 1% 0 0;
  border-radius: 10%;
}
.rightbtn:hover {
  background-color: #3F48b0;
}

  .mapboxgl-popup-content{
    text-align: center
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .row2{
    background-color: #3F48CC;
    padding-left: 8px;

  }
  input[type=search] {
      /*make search bar pretty*/
      font: 17px arial, sans-serif;
      opacity: 0.75;
      width: 66%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
  }
  input[type=text]:focus {
      border: 3px solid #555;
  }
  .mapboxgl-popup {
      max-width: 400px;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  /* The popup form - hidden by default */
.form-popup {
  display: none;
  position: center;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.upvoteButton{
font-size: 10px;
cursor: pointer;
background-color: white;
color: black;
padding: 5px 5px;
border: none;

}
.upvoteButton:hover {
background-color: #DDDDD5;
}

.row{
  margin-left: 0.5%
}

.upvote-num{
  margin-left:3%;
}

.fa-caret-right, .fa-caret-down, .fa-caret-up{
  color: #000000;
}

input[type=text], input[type=password] {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.upvote-num{
  margin-left:3%;
}

.room-drop {
  max-height: 500px;
  transition: max-height linear 0.5s;
  overflow:hidden;
}
.badge-slider.ng-hide {
  max-height: 0px;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
  margin: 24px 0 12px 0;
  position: relative;
  width: auto;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
